/* 
 * vim: expandtab ts=2 sw=2 
 */
/* @import url("file:///home/jarmusz/.cache/wal/colors.css"); */

:root {
	--wallpaper: url("/home/jarmusz/other/wallpapers/cat.png");

	/* Special */
	--background: #F4E3C0;
	--foreground: #282A1F;
	--cursor: #282A1F;

	/* Colors */
	--color0: #282A1F;
	--color1: #E63A36;
	--color2: #282A1F;
	--color3: #282A1F;
	--color4: #282A1F;
	--color5: #282A1F;
	--color6: #282A1F;
	--color7: #f4e3c0;
	--color8: #282A1F;
	--color9: #282A1F;
	--color10: #282A1F;
	--color11: #282A1F;
	--color12: #282A1F;
	--color13: #282A1F;
	--color14: #282A1F;
	--color15: #F4E3C0;

	/* Transparent colors */
	--color1-transparent1: rgba(230,58,54, 0.16);
	--color1-transparent2: rgba(230,58,54, 0.32);

  --accent: var(--color1) !important;
  
  --tabs-navbar-shadow-size: 0 !important;
  --button-active-bgcolor: var(--color1-transparent2) !important;
  --buton-bg-color: var(--background) !important;
  --button-color: var(--foreground) !important;
  --button-hover-bgcolor: var(--color1-transparent1) !important;
  
  /* Disable bg color tint */
  --toolbar-bgimage: var(--color1) !important;
  
  /* Smaller toolbar */
  --proton-tab-block-margin: 0 !important;
  
  --focus-outline: none !important;
  
  --chrome-content-separator-color: none !important;
  
  --arrowpanel-border-color: none !important;
  --arrowpanel-background: var(--background) !important;
  --arrowpanel-color: var(--foreground) !important;
  
  font-family: Iosevka !important;
  font-size: 11pt !important;
}

* {
  /*! color: var(--foreground) !important; */
  font-family: Iosevka !important;
  color: var(--foreground);
  /*background-color: var(--background) !important;*/
}

html {
  color: var(--foreground);
  /*background-color: var(--background);*/
}

menu,
menuitem,
menucaption {
  background-color: var(--background) !important;
}

/* Tabbar */
#tabbrowser-tabs {
  background-color: var(--background) !important;
}

#TabsToolbar {
  height: auto !important;
}

#url-bar {
  shadow: none !important;
  border-radius: 0;
}

/* Generic tab */
.tab-background {
  border-radius: 0 !important;
  border-bottom: 2px solid var(--foreground) !important;
  box-shadow: none !important;
  background-color: var(--background) !important;
}

/* New-tab button */
#new-tab-button {
  background-color: var(--background) !important;
}

/* Focused tab */ 
#TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected="true"],
[multiselected]) > .tab-stack > .tab-background {
  box-shadow: none !important;
}

.tab-background[selected] {
  border-color: var(--accent) !important;
  background-color: var(--background) !important;
  box-shadow: none !important;
}

/* Navigation bar */
#nav-bar {
  background-color: var(--background) !important;
}

#urlbar-input-container {
  background-color: var(--background) !important;
}

/* Burger menu */
#appMenu-popup panelview, #PanelUI-fxa {
  background-color: var(--background) !important;
  border-radius: 0 !important;
}

panel[type="arrow"] {
	background-color: var(--background) !important;;
}

.PanelUI-subView toolbarseparator.proton-zap {
  border-image: none !important;
  border-color: var(--color1) !important;
}
